/**
 * CSS Styles for the application.
*/
.outside-embeddable-container {
  max-width: 960px;
  margin: 0 auto;
}

.js-dependent,
.hide {
  display: none;
}

.footnote {
  font-size: .75em;
  font-style: italic;
  color: #414141;
  margin-top: 1em;
}

#minnpost-nice-ride-application {
  position: relative;
}

.loading {
  display: none;
}
.loading.is-loading {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: #FFFFFF;
  background: rgba(255, 255, 255, 0.9);
  z-index: 99999999;
}
.loading .loading-message {
  width: 40%;
  margin: 0 auto;
  padding: 3em 0;
  text-align: center;
  text-transform: uppercase;
}

#map {
  width: 100%;
  height: 500px;
}

.leaflet-bottom.leaflet-left {
  background: #FFFFFF;
  background: rgba(255, 255, 255, 0.8);
  height: 90px;
  width: 100%;
  border-top: 2px solid #AAAAAA;
  z-index: 999999;
}
.flot-timeline-wrapper {
  margin: 10px;
}
#density-average-graph {
  height: 75px;
  width: 100%;
}
#density-average-graph table {
  margin: 0;
  border: none;
}
#density-average-graph table td {
  padding: 0 5px 0 0;
  margin: 0;
  vertical-align: middle;
  border: none;
}

.leaflet-bottom.leaflet-right {
  z-index: 999999;
}
.time-day {
  margin-bottom: 100px;
  margin-right: 10px;
  padding: 5px 10px;
  text-align: right;
  background: #BBBBBB;
  background: rgba(255, 255, 255, 0.8);
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  z-index: 999999;
}
 
.control-play-pause-container {
  padding: 5px;
  background: rgba(120, 237, 110, 0.75); /* #78ED6E */
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
}
   
.control-play-pause-container a.control-play-pause {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  width: 19px;
  height: 19px;
  background: rgba(43, 218, 27, 0.75); /* #2BDA1B */
}

.leaflet-touch .control-play-pause-container a.control-play-pause {
  width: 27px;
  height: 27px;
}
.control-play-pause-container a.control-play-pause {
  display: block;
  display: inline-block;
  vertical-align: text-top;
  background-image: url("https://s3.amazonaws.com/data.minnpost/js/bootstrap-2.0.3/img/glyphicons-halflings.png");
  background-repeat: no-repeat;
  background-position: -262px -70px;
  opacity: 0.9;
}
.control-play-pause-container a.control-pause {
  background-position: -285px -70px;
}
	
.control-play-pause-container a.control-play-pause:hover {
  background-color: #78ED6E;
}

.leaflet-control-zoom + .control-play-pause-container,
.leaflet-control-fullscreen + .control-play-pause-container {
  margin-top: 5px;
}

.wax-tooltip {
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 5px 10px;
  background: #BBBBBB;
  background: rgba(255, 255, 255, 0.8);
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  z-index: 999999;
}

.wax-tooltip a.close {
  background: #BBBBBB;
  background: rgba(0, 0, 0, 0.25);
  text-indent:-3000px;
  overflow: hidden;
  display: block;
  display: inline-block;
  vertical-align: text-top;
  background-image: url("https://s3.amazonaws.com/data.minnpost/js/bootstrap-2.0.3/img/glyphicons-halflings.png");
  background-repeat: no-repeat;
  background-position: -310px 2px;
  opacity: 0.9;
  width: 19px;
  height: 19px;
  margin: 0 0 0 5px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

/** Media queries **/
@media all and (max-width: 750px) {
}