/**
 * CSS Styles for the application.
*/
.outside-embeddable-container {
  width: 960px;
  margin: 0 auto;
}

.js-dependent,
.hide {
  display: none;
}

.footnote {
  font-size: .75em;
  font-style: italic;
  color: #414141;
  margin-top: 1em;
}

#minnpost-nice-ride-application {
  position: relative;
}

.loading {
  display: none;
}
.loading.is-loading {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: #FFFFFF;
  background: rgba(255, 255, 255, 0.9);
  z-index: 99999999;
}
.loading .loading-message {
  width: 40%;
  margin: 0 auto;
  padding: 3em 0;
  text-align: center;
  text-transform: uppercase;
}

#map {
  width: 100%;
  height: 500px;
}

.leaflet-bottom.leaflet-left {
  background: #FFFFFF;
  background: rgba(255, 255, 255, 0.8);
  height: 90px;
  width: 100%;
  border-top: 2px solid #AAAAAA;
}
.flot-timeline-wrapper {
  margin: 10px;
}
#density-average-graph {
  height: 75px;
  width: 100%;
}
#density-average-graph table {
  margin: 0;
  border: none;
}
#density-average-graph table td {
  padding: 0 5px 0 0;
  margin: 0;
  vertical-align: middle;
  border: none;
}

/** Media queries **/
@media all and (max-width: 750px) {
}