data/NRMN_2011_reports/*
data/mpls-stpaul.osm
data/mpls-stpaul.osm.bz2

# routino
data-processing/routino-2.2/src/*
data-processing/routino-2.2/xml/*
data-processing/routino-2.2/web/bin/*
data-processing/routino-2.2/web/data/*
data-processing/routino-2.2/web/results/*
data-processing/routino-2.2/web/www/*