/*
// Routino map layout web page style sheet.
//
// Part of the Routino routing software.
//
// This file Copyright 2008-2010 Andrew M. Bishop
//
// This program is free software: you can redistribute it and/or modify
// it under the terms of the GNU Affero General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
//
// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU Affero General Public License for more details.
//
// You should have received a copy of the GNU Affero General Public License
// along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/


/*----------------------------------*/
/* Body HTML formatting             */
/*----------------------------------*/

BODY
{
 /* fonts and text styles */

 font-family: sans-serif;
 font-size:   medium;

 /* colours */

 background-color: white;
 color:            black;
}


/*------------*/
/* Left panel */
/*------------*/

DIV.left_panel
{
 width:    23em;

 position: absolute;
 top:      0;
 bottom:   0;
 right:    auto;
 left:     0;

 padding: 3px;
}


/*-------------*/
/* Right panel */
/*-------------*/

DIV.right_panel
{
 position: fixed;
 top:      0;
 bottom:   0;
 right:    0;
 left:     23.5em;
}

DIV.map
{
 position: absolute;
 top:      0;
 bottom:   1.5em;
 right:    0;
 left:     0;

 border:  3px solid;

 text-align:  center;
}

DIV.attribution
{
 position: absolute;
 top:      auto;
 bottom:   0;
 right:    0;
 left:     0;

 margin:  0px;
 border:  0px;
 padding: 0px;

 text-align: center;

 white-space: nowrap;
 overflow:    hidden;
}
